@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
       body {
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
    .container-fluid {
      padding-top: 25px;
      padding-bottom: 25px;
  }
  .bg-1 { 
      margin: 0;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 30px;
  }
  .bg-2 { 
      padding-bottom: 160px;
  }
  .bg-3 { 
      /*background-color: #044F35;*/ /* White */
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  
  .navbar {
/*      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;*/
      
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
       .jumbotron{
           height: 100vh;
       }
       .gamepanel {
            border-radius: 10px;
       }

.navbar-default {
    background-color: #010F0A;
}